* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}


body {
  text-align: center;
}
/* MAIN */

section {
  padding:2em;
    
}

.wrap {

  max-width: 600px;
  margin:auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.tagline {
  width:100%;
  position: relative;
  z-index:1000;
  margin: 1em 0;
}

.border-top {
}

.intro {
  background: url('/resources/img/wood-texture.jpg') no-repeat;
  background-size: cover;
  padding: 0 0 80px;
  img {
    width:30%;
  }
  h1 {
    text-transform: uppercase;
    color:white;
    text-shadow: 0 0 13px rgba(0,0,0,1);
    font-size: 90px;
  }
}

h2 {
  color:$secondary;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 40px;
}

h3 {
  font-family: $body;
  color:$orange;
  line-height: 1;
  margin-bottom: 40px;
}

.content {
  position: relative;
  background: $neutral;
  
}

.border {
  border:solid 20px white;
  position: relative;
  z-index:2;
}

.logo {
  position: relative;
  width:250px;
  margin-top:-100px;
}


/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


