// COLOR PALETTE
$primary: #432b15;
$secondary: #432b15;
$hover: #505050;
$neutral: #ebe7e0;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;
$orange:#f26f24;



// FONT STACKS
$heading: 'Stint Ultra Condensed', cursive;
$body: 'Droid Sans', sans-serif;